h4 {
  margin: 10px 0;
}

#results-breakdown {
  display: inline-flex;
}

.date-options {
  width: 100%;
}

input {
  width: 50px;
}

table {
  margin: 0 auto;
  width: 80%;
  max-width: 300px;
}

p {
  margin: 5px 3px;
}
