#postcode-form {
  background-color: rgb(197, 255, 192);
  min-width: 30%;
  max-width: 200px;
  margin: 15px auto;
  padding: 1rem;
}

#postcode-input {
  width: 100%;
  padding: 8px 14px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

#submit-postcode {
  width: 100%;
  background-color: #1a9b1e;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 8px 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

label {
  width: 80%;
  margin: auto;
}

.plants-need-option {
  display: flex;
}

#needs-rainfall {
  margin: 0;
}
#needs-sunshine {
  margin: 0;
}

#needs-desc {
  margin: 1rem;
  font-style: italic;
}
