#nav-header {
  color: #fff;
  background-color: rgba(25, 189, 25, 0.678);
  font-weight: 700;
  margin: 0 0;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
}

#reset-button {
  background-color: transparent;
  border: thin;
  font-size: 16px;
  font-weight: 700;
  color: rgb(1, 48, 1);
}
