#happiness-results {
  padding: 5px auto;
  margin: 5px;
  padding: 5px;
}

h3 {
  font-size: 14px;
}

.advice-block {
  padding: 10px 15px;
  margin-top: 5px;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.87);
}

#your-plants-need {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}

#your-plants-need-text {
  font-size: 14px;
}
