#happiness-results {
  padding: 5px auto;
  margin: 5px;
  padding: 5px;
}

h3 {
  font-size: 14px;
}

.advice-block {
  padding: 10px;
  margin-top: 5px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.685);
}
