#background {
  background-image: url("./assets/garden-fence.png");
  background-repeat: repeat;
  background-size: contain;
  height: 30%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  padding: 0;
  margin: 0;
}

#App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.main-container {
  padding: 0rem 10px;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  /* background-color: rgba(255, 255, 255, 0.233); */
}

.home {
  position: fixed;
  top: 40%;
}

.results {
  height: 100%;
}
